<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table,th,td{border: solid 1px black;}
</style>
<body>
    <form method="GET" action="/user">
        <button>ADD new user</button>
    </form>
    <table>
        <tr>
            <th>Id</th>

            <th>username</th>
            <th>email</th>
        </tr>
        
            <%for(user of result){%>
                <tr>
                <td><%=user.id %></td>
                <td><%=user.username  %></td>
                <td><%=user.email  %></td>
                <td>
                    <form method="get" action="/post/<%= user.id %>/edit">
                        <button>edit username</button>
                    </form></td>
                    <td>
                    <form method="post" action="/post/<%= user.id %>/delete?_method=DELETE">
                        <button>
                            Delete</button>
                    </form></td>
                </tr>
            <%}%>
        
    </table>
</body>
</html>